html,
body {
    background-color: #eeeeee;
    color: #121212;
    line-height: 1.6;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rules {
    padding: 60px;
}

.regulations {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #2965cc;
    border-bottom: 1px solid #2965cc;
    padding-bottom: 5px;
}

#content>p {
    text-align: left;
    color: #121212;
    margin-bottom: 20px;
}

.RegulationPoint {
    margin: 10px 0 20px 20px;
}

li {
    margin-bottom: 5px;
}

.contact-info {
    font-weight: bold;
    margin-top: 10px;
}

.RegulationPoint>li {
    color: #121212;
    margin-bottom: 5px;
}

#rules-title {
    text-align: left;
    color: #121212;
    font-size: 21px;
    margin: 0px;
}